body{
	background-color: #99BD90;
}
.ui-boxone{
	box-sizing: border-box;
	height: 600px;
	width: 800px;
	padding: 20px;
	background-color: #CDD3F5;
}
.ui-boxone-cntone{
	box-sizing:border-box; 
	background-color: #99BD90;
	width: 760px;
	height: 120px;
	border: 2px solid gray;
}
.ui-boxone-cnttwo{
	margin-top: 20px;
	box-sizing: border-box;
	background-color: #99BD90;
	width: 760px;
	height: 420px;
	border: 2px solid gray;
	
}
.ui-boxone-cntone-left{
	box-sizing: border-box;
	height: 80px;
	width: 80px;
	background-color: #CDD3F5;
	border: 1px solid black;
	float: left;
	margin: 20px;
}
.ui-boxone-cntone-right{
	box-sizing: border-box;
	height: 80px;
	width: 80px;
	background-color: #CDD3F5;
	border: 1px solid black;
	float: right;
	margin: 20px;
}
.ui-boxone-cnttwo-left{
	display: inline-block;
	width: 240px;
	height: 420px;
	
}
.ui-boxone-cnttwo-right{
	display: inline-block;
	width: 510px;
	height: 420px;
	float: right;

}
.ui-boxone-cnttwo-left-big{
	box-sizing: border-box;
	width: 200px;
	height: 300px;
	border: 1px solid black;
	background-color: #CDD3F5;
	margin: 20px;
}
.ui-boxone-cntone-left-smallone{
	display: inline-block;
	box-sizing: border-box;
	width: 50px;
	height: 50px;
	border: 1px solid black;
	background-color: #CDD3F5;
	margin-left: 20px;
}
.ui-boxone-cntone-left-smalltwo{
	display: inline-block;
	box-sizing: border-box;
	width: 50px;
	height: 50px;
	border: 1px solid black;
	background-color: #CDD3F5;
	margin-left: 20px;
}
.ui-boxone-cnttwo-right-list{
	width: 480px;
	height: 40px;
	box-sizing: border-box;
	margin-bottom: 15px;
	margin-right: 20px;
	float: right;
	background-color: #CDD3F5;
	border: 1px solid black;
}
.ui-boxone-cnttwo-right-first{
	box-sizing: border-box;
	width: 480px;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 15px;
	margin-right: 20px;
	float: right;
	background-color: #CDD3F5;
	border: 1px solid black;
}
.ui-bowtwo{
	margin:50px;
	width: 390px;
	height: 370px;
	background-color: #FFFFEB;
	border: 1px solid black;
	box-sizing: border-box;
}
.ui-bowtwo-cntone{
	width: 390px;
	height: 260px;
}
.ui-bowtwo-cnttwo{
	width: 390px;
	height: 110px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #FFE6F4;
}
.ui-bowtwo-cnttwo-top{
	width: 370px;
	height: 20px;
	margin: 10px;
	border: 1px solid black;
	background-color: #FFFFEB;
	box-sizing: border-box;
}
.ui-bowtwo-cnttwo-bottom{
	width: 370px;
	height: 30px;
	margin-left: 10px;
	border: 1px solid black;
	background-color: #FFFFEB;
	box-sizing: border-box;
}
.ui-bowtwo-cnttwo-top h6{
	margin-top: 1px;
	margin-left: 10px;
}
.ui-bowtwo-cnttwo-bottom h3{
	display: inline-block;
	margin-top: 1px;
	color: red;
}
.ui-bowtwo-cnttwo-bottom h4{
	display: inline-block;
	margin-top: 5px;
	margin-left: 10px;
	color: red;
}
.ui-bowtwo-cnttwo-bottom p{
	display: inline-block;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 5px;
	color: #9a9a9a;
}