@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-05-01 16:59:19
 * @version $Id$
 */
body{
	background-color: #f1f0ed;
}
.ui-box1{
	background-color: #00C2AE;
	height: 51px;
	border-bottom: 1px solid #008a7d;
	color: white;
}
.ui-box2{
	background-color: white;
	height: 181px;
	border-bottom: 1px solid #e0d9cf;
}
.ui-box3{
	background-color: white;
	height: 162px;
	border-bottom: 1px solid #e0d9cf;
	border-top: 1px solid #e0d9cf;
	margin-top: 10px;
	padding: 5px;
}
.ui-box4{
	background-color: white;
	height: 77px;
	border-bottom: 1px solid #e0d9cf;
	border-top: 1px solid #e0d9cf;
	margin-top: 10px;
}
.ui-box5{
	background-color: white;
	border-top: 1px solid #e0d9cf;
	margin-top: 10px;
}
.ui-box6{
	background-color: #8fc6ea;
	height: 42px;
	padding:5px;
}
.ui-box1-select{
	display: flex;
	justify-content: center;
	padding-top: 7px;
	align-items: baseline;
}
.ui-box1-text1{
	font-size: 25px;
	margin-right: 5px;
}
.ui-box1-search{
	background-color: #00a594;
	display: flex;
	align-items: center;
	margin-top: 8px;
	padding: 7px;
}
.ui-box1-text2{
	font-size: 15px;
	color: #00cebf;
	margin-left: 5px;
}
.ui-box1-user{
	padding-top:8px;
}
.ui-box1-text3{
	font-size: 15px;
}
.ui-box2-item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.ui-box2-circle{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.ui-box2-text{
	font-size: 15px;
}

.circle-1{
	background-color: #ff8905;
}
.circle-2{
	background-color: #ff6640;
}
.circle-3{
	background-color: #7089f6;
}
.circle-4{
	background-color: #ff8905;
}
.circle-5{
	background-color: #00cdf0;
}
.circle-6{
	background-color: #ffbb53;
}
.circle-7{
	background-color: #00cdf0;
}
.circle-8{
	background-color: #ff8905;
}
.ui-box3-left{
	height: 150px;
	border-right: 1px solid #e0d9cf;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.ui-box3-left #title{
	font-size: 20px;
	color: #3eb31f;
}
.ui-box3-left #text{
	font-size: 15px;
	color: #b2b2b2;
}
.ui-box3-left #img{
	width: 87px;
	height: 87px;
	border:1px solid #949494;
	background-color:#666;
}

.ui-box3-top{
	height: 75px;
	border-bottom: 1px solid #e0d9cf;
}
.ui-box3-top #title{
	font-size: 20px;
	color: #ff3d00;
}
.ui-box3-top #text{
	font-size: 15px;
	color: #b2b2b2;
}
.ui-box3-top #img{
	width: 62px;
	height: 62px;
	border:1px solid #949494;
	background-color:#666;
}

.ui-box3-buttom1{
	height: 75px;
	border-right: 1px solid #e0d9cf;
}
.ui-box3-buttom1 #title{
	font-size: 20px;
	color: #ff77bd;
}
.ui-box3-buttom1 #img{
	width: 37px;
	height: 37px;
	margin-left: 35px;
	border:1px solid #949494;
	background-color:#666;
	
}
.ui-box3-buttom2{
	height: 75px;
}
.ui-box3-buttom2 #title{
	font-size: 20px;
	color: #ff9211;
}
.ui-box3-buttom2 #text{
	font-size: 15px;
	color: #b2b2b2;
}
.ui-box4-left{
	border-right: 1px solid #e0d9cf;
	padding: 7px;
}
.ui-box4-left #title{
	font-size: 20px;
	color: #ff6640;
}
.ui-box4-left #text{
	font-size: 15px;
	color: #b2b2b2;
}
.ui-box4-left #img{
	width: 62px;
	height: 62px;
	border:1px solid #949494;
	background-color:#666;
	
}
.ui-box4-right{
	border-right: 1px solid #e0d9cf;
	padding: 7px;
}
.ui-box4-right #title{
	font-size: 20px;
	color: #ff9c00;
}
.ui-box4-right #text{
	font-size: 15px;
	color: #b2b2b2;
}
.ui-box4-right #img{
	width: 62px;
	height: 62px;
	border:1px solid #949494;
	background-color:#666;
	
}
.ui-box5 #title{
	font-size: 25px;
	height: 40px;
}
.ui-box5 #item{
	border-top:1px solid #e0d9cf;
	/*border-bottom:1px solid #e0d9cf;*/
	padding-top: 10px;
}
.ui-box5-item-img{
	position: relative;
	width: 90px;
	height: 82px;
	border:1px solid #949494;
	background-color:#666;
	overflow: hidden;

}
.ui-box5-item-img #text{
	position: absolute;
	top: 10px;
	left: -30px;
	width: 100px;
	height: 20px;
	text-align: center;
	/*display: block;
	overflow: hidden;*/
	line-height: 20px;
	font-size: 12px;
	color: #def9f7;
	background-color: #00c2ae;
	transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
.ui-box5 #text1{
	font-size: 20px;
}
.ui-box5 #text2{
	color: #777;
}
.ui-box5-item-line3 #text1{
	font-size: 30px;
	color: #00c2ae;
}
.ui-box5-item-line3 #text1:after{
	content: "元";
	font-family: "simsun";
	font-size: 7px;
	color: #00c2ae;
}

.ui-box5-item-line3 #text2{
	font-size: 12px;
	color: #ff9a00;
	font-weight: 200;
	border:1px solid #ff9a00;
	border-radius: 5px;
	padding: 2px;
	margin-left: 5px;
}
.ui-box5-item-line3 #text3{
	font-size: 10px;
	color: #777;
}
.ui-box5 #count{
	display: flex;
	justify-content: flex-end;
	color: #777;
	margin-top: 65px;
	font-size: 10px;
}
.ui-box6 #text{
	color: #08b8d8;
	font-size: 20px;
}
.ui-box6 #right{
	float: right;
	color: #08b8d8;
	font-size: 20px;
	margin-right: 10px;
}