@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-05-04 14:33:26
 * @version $Id$
 */
#myMap{
	position: absolute;
	height: 900px;
	width: 1000px;
	top: 20px;
	left: 20px;
}
#result{
	position: absolute;
	height: 750px;
	width: 450px;
	top:170px;
	left: 1030px;
	border: 1px solid black;
}
.ui-search{
	position: absolute;
	height: 150px;
	width: 450px;
	top: 20px;
	left: 1030px;
	border: 1px solid black;
}